<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <title></title>
</head>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/exporting.js}"></script>
<script th:src="@{/js/highcharts.js}"></script>
<script th:src="@{/js/highcharts-more.js}"></script>
<script th:src="@{/js/solid-gauge.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js}"></script>
<body style="padding: 20px">
<!--破解防止盗取链接的脚本-->

<div class="col-md-6">
    <script type="text/javascript">
        showImg('[[${summary.url}]]');
    </script>
    <h4 th:text="${summary.title}"></h4>
    <h5 th:text="${summary.text}"></h5>
</div>
<div id="container" class="col-md-6"></div>
</body>
<script th:inline="javascript">
    var chart = new Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: '发送状态'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
        }]
    });
    //获取域中的 数据，填充图表
var json = $.parseJSON([[${jsonString}]]);
chart.series[0].setData(json);
</script>
</html>