<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
<title>美翻微信群发工具</title>
<style type="text/css">
body{
    padding: 10px;
}
</style>
</head>
<body>
<div id="app">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">历史记录</li>
            <li>新建群发</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item">
                这里是一个表格
            </div>
            <div class="layui-tab-item layui-show">
                <fieldset class="layui-elem-field">
                    <legend>群发内容</legend>
                    <div class="layui-field-box">
                        <form class="layui-form" action="">
                            <div class="layui-form-item layui-inline">
                                <label class="layui-form-label">消息类型</label>
                                <div class="layui-input-inline">
                                    <select v-model="message_data.type" lay-ignore class="layui-input">
                                        <option value="text">文本</option>
                                        <option value="news">图文(外链)</option>
                                        <option value="mpnews">图文(消息)</option>
                                        <option value="image">图片</option>
                                        <option value="voice">语音</option>
                                        <option value="video">视频</option>
                                        <option value="music">音乐</option>
                                    </select>
                                </div>
                            </div>

                            <div v-show="message_data.type == 'text'">
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">消息内容</label>
                                    <div class="layui-input-block">
                                        <textarea v-model="message_data.text.context" placeholder="请输入文本内容" class="layui-textarea"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div v-show="message_data.type == 'news'">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">单行输入框</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">消息内容</label>
                                    <div class="layui-input-block">
                                        <textarea v-model="message_data.text.context" placeholder="请输入文本内容" class="layui-textarea"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item layui-inline">
                                <div class="layui-input-inline">
                                    <button @click="submit_message()" class="layui-btn" type="button">立即提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script src="//cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script type="text/javascript">
var app = new Vue({
    el: "#app",
    data: {
        message_data: {
            type: "text",
            text: {
                context: ""
            }
        }
    },
    computed: {

    },
    methods: {

        submit_message: function () {
            var index = layer.load(1, {
                shade: [0.1, '#fff']
            });
            $.post("/send", this.message_data, function (data) {
                layer.close(index);
                if(data.code == 0){

                } else {
                    layer.alert(data.info);
                }
            }, "json");
        }
        
    },
    mounted: function () {

    }
});
</script>
</body>
</html>