<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <title></title>
</head>
<body>
<div id="app" style="padding: 30px">
    <form class="layui-form" action="">
        <h2>主标题</h2>
        <div class="layui-form-item">
            <label class="layui-form-label">单行输入框</label>
            <div class="layui-input-block">
                <input type="text" v-model="message_data.news.articles[0].title" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">消息内容</label>
            <div class="layui-input-block">
                <textarea v-model="message_data.news.articles[0].description" placeholder="请输入文本内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <label class="layui-form-label">上传图片</label>
        <div class="layui-upload">
            <!--<button type="button" class="layui-btn" id="test2">多图片上传</button>-->
            <div class="layui-upload-drag" id="test10">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
            </div>
        </div>
        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
            预览图:
            <div class="layui-upload-list" id="demo10"></div>
        </blockquote>
        <!--主题2-->
        <div class="layui-form-item">
            <label class="layui-form-label">单行输入框</label>
            <div class="layui-input-block">
                <input type="text" v-model="message_data.news.articles[1].title" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">消息内容</label>
            <div class="layui-input-block">
                <textarea v-model="message_data.news.articles[1].description" placeholder="请输入文本内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <label class="layui-form-label">上传图片</label>
        <div class="layui-upload">
            <!--<button type="button" class="layui-btn" id="test2">多图片上传</button>-->
            <div class="layui-upload-drag" id="test11">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
            </div>
        </div>
        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
            预览图:
            <div class="layui-upload-list" id="demo11"></div>
        </blockquote>

        <div class="layui-row">
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">
                    <div class="layui-form-item">
                        <label class="layui-form-label">单行输入框</label>
                        <div class="layui-input-block">
                            <input type="text" v-model="message_data.news.articles[1].title" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">消息内容</label>
                        <div class="layui-input-block">
                            <textarea v-model="message_data.news.articles[1].description" placeholder="请输入文本内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <label class="layui-form-label">上传图片</label>
                    <div class="layui-upload">
                        <!--<button type="button" class="layui-btn" id="test2">多图片上传</button>-->
                        <div class="layui-upload-drag" id="test12">
                            <i class="layui-icon"></i>
                            <p>点击上传，或将文件拖拽到此处</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="grid-demo">
                    <div class="layui-form-item">
                        <label class="layui-form-label">单行输入框</label>
                        <div class="layui-input-block">
                            <input type="text" v-model="message_data.news.articles[1].title" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">消息内容</label>
                        <div class="layui-input-block">
                            <textarea v-model="message_data.news.articles[1].description" placeholder="请输入文本内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <label class="layui-form-label">上传图片</label>
                    <div class="layui-upload">
                        <!--<button type="button" class="layui-btn" id="test2">多图片上传</button>-->
                        <div class="layui-upload-drag" id="test13">
                            <i class="layui-icon"></i>
                            <p>点击上传，或将文件拖拽到此处</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">
                    <div class="layui-form-item">
                        <label class="layui-form-label">单行输入框</label>
                        <div class="layui-input-block">
                            <input type="text" v-model="message_data.news.articles[1].title" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">消息内容</label>
                        <div class="layui-input-block">
                            <textarea v-model="message_data.news.articles[1].description" placeholder="请输入文本内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <label class="layui-form-label">上传图片</label>
                    <div class="layui-upload">
                        <!--<button type="button" class="layui-btn" id="test2">多图片上传</button>-->
                        <div class="layui-upload-drag" id="test14">
                            <i class="layui-icon"></i>
                            <p>点击上传，或将文件拖拽到此处</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-input-inline">
            <button @click="submit_message()" class="layui-btn" type="button">立即提交</button>
        </div>
    </form>

</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script src="//cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data: {
            message_data: {
                type: "news",
                text: {
                    context: "",
                },
                news: {
                    articles: [{
                        title: "",
                        description: "",
                        url: "",
                        picurl: ""
                    },{
                        title: "",
                        description: "",
                        url: "",
                        picurl: ""
                    },{
                        title: "",
                        description: "",
                        url: "",
                        picurl: ""
                    },{
                        title: "",
                        description: "",
                        url: "",
                        picurl: ""
                    }]
                },
                json: ""
            }
        },
        computed: {

        },
        methods: {
            submit_message: function () {
                var index = layer.load(1, {
                    shade: [0.1, '#fff']
                });
                $.post("/send", this.message_data, function (data) {
                    layer.close(index);
                    if(data.code == 0){
                        layer.alert(data.info);
                    } else {
                        layer.alert(data.info);
                    }
                }, "json");
            },
            get_history: function () {
                this.message_data.type = 'history';
                $.ajax({
                    url:"/history",
                    type:"get",
                    dataType: "json",
                    success:function (data) {
                        app.message_data.json = data
                    }
                });
            }

        },
        mounted: function () {

        }
    });
</script>
<script>
    layui.use('upload', function() {
        var $ = layui.jquery
            , upload = layui.upload;

        //图文拖拽上传主题1
        upload.render({
            elem: '#test10'
            , url: '/upload/test'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo10').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img">')
                });
            }
            , done: function (res) {
                app.message_data.news.articles[0].picurl = res.url
            }
        });
        //图文拖拽上传主题2
        upload.render({
            elem: '#test11'
            , url: '/upload/test'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo11').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img">')
                });
            }
            , done: function (res) {
                app.message_data.news.articles[1].picurl = res.url
            }
        });
    })
</script>
</body>
</html>