<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>美翻微信群发</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script th:src="@{/js/vue.js}"></script>
<script th:src="@{/js/highcharts.js}"></script>
<script src="//cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin" id="app">
    <div class="layui-header">
        <div class="layui-logo">微信后台管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://thirdwx.qlogo.cn/mmopen/Ig2nvKBblfaicXlo2b59Hniafzp0ghyX0C1bicdibKut0uBlu6ib6FN4zibuePu72Zs2DI0gwdibrHa5tjmyKabWb1hD4W9bmTKqosW/132" class="layui-nav-img">
                    hzw
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">消息类型</a>
                    <dl class="layui-nav-child">
                        <dd><a v-on:click="message_data.type = 'text'">文字消息</a></dd>
                        <dd><a v-on:click="message_data.type = 'image'">图片消息</a></dd>
                        <dd><a v-on:click="message_data.type = 'news'">图文消息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a @click="get_history()">历史消息</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="layui-tab">
                <div class="layui-tab-content">
                    <div class="layui-tab-item">
                        这里是一个表格
                    </div>
                    <div class="layui-tab-item layui-show">
                        <fieldset class="layui-elem-field">
                            <legend v-if="message_data.type == 'history'">历史记录</legend>
                            <legend v-else>群发内容</legend>
                            <div class="layui-field-box">
                                <form class="layui-form" action="">
                                    <span class="upload_img" style="z-index: -1000;display: none;"></span>
                                    <!--文字消息-->
                                    <div v-show="message_data.type == 'text'">
                                        <div class="layui-form-item layui-form-text">
                                            <label class="layui-form-label">消息内容</label>
                                            <div class="layui-input-block">
                                                <textarea v-model="message_data.text.context" placeholder="请输入文本内容" class="layui-textarea"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <!--图文消息-->
                                    <div v-show="message_data.type == 'news'">
                                        <button class="layui-btn" type="button" @click="add_news()">新增</button>
                                        <div class="layui-row">
                                            <div v-for="(item, key) in message_data.news.articles" class="layui-col-xs4">

                                                <div class="grid-demo grid-demo-bg1">
                                                    <div class="layui-form-item">
                                                        <label class="layui-form-label">标题</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" placeholder="请输入标题" v-model="item.title" class="layui-input">
                                                        </div>
                                                        <br>
                                                        <label class="layui-form-label">跳转链接</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" placeholder="请输入跳转链接" v-model="item.url" class="layui-input">
                                                        </div>
                                                    </div>
                                                    <div class="layui-form-item layui-form-text">
                                                        <label class="layui-form-label">消息内容</label>
                                                        <div class="layui-input-block">
                                                            <textarea placeholder="请输入文本内容" v-model="item.description" class="layui-textarea"></textarea>
                                                        </div>
                                                    </div>
                                                    <label class="layui-form-label">上传图片</label>
                                                    <button @click="bind_img(key)" type="button" class="layui-btn">
                                                        <i class="layui-icon">&#xe67c;</i>上传图片
                                                    </button>
                                                </div>
                                                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                                    预览图:
                                                    <div class="layui-upload-list">
                                                        <img v-if="item.picurl" :src="item.picurl" style="height: 100px"/>
                                                    </div>
                                                </blockquote>

                                            </div>

                                        </div>
                                    </div>

                                    <!--图片消息-->
                                    <div v-show="message_data.type == 'image'">
                                        <label class="layui-form-label">上传图片</label>
                                        <div class="layui-upload">
                                            <!--<button type="button" class="layui-btn" id="test2">多图片上传</button>-->
                                            <div class="layui-upload-drag" id="test1">
                                                <i class="layui-icon"></i>
                                                <p>点击上传，或将文件拖拽到此处</p>
                                            </div>
                                        </div>
                                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                            预览图:
                                            <div class="layui-upload-list" id="demo1"></div>
                                        </blockquote>
                                    </div>

                                    <!--历史记录-->
                                    <div v-show="message_data.type == 'history'">
                                        <ul class="layui-timeline">

                                            <div v-if="message_data.json != null" v-for="(message, key) in message_data.json">
                                                <li class="layui-timeline-item">
                                                    <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
                                                    <div class="layui-timeline-content layui-text">
                                                        <h3 class="layui-timeline-title">{{ message.update_time }}</h3>
                                                        <div v-if="message.text_plan.msgtype == 'news' && message.text_plan.news.articles.length>0">
                                                            <blockquote class="layui-elem-quote">
                                                                <h3>{{message.text_plan.news.articles[0].title}}</h3>
                                                                <h4>{{message.text_plan.news.articles[0].description}}</h4>
                                                            </blockquote>
                                                            <div class="layui-input-inline">
                                                                <button @click="get_detail(message.message_id)" class="layui-btn" type="button">查看详情</button>
                                                            </div>
                                                        </div>

                                                        <div v-if="message.text_plan.msgtype == 'text'">
                                                            <blockquote class="layui-elem-quote">
                                                                <h4>{{message.text_plan.text.content}}</h4>
                                                            </blockquote>
                                                            <div class="layui-input-inline">
                                                                <button @click="get_detail(message.message_id)" class="layui-btn" type="button">查看详情</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>

                                            <li class="layui-timeline-item">
                                                <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
                                                <div class="layui-timeline-content layui-text">
                                                    <div class="layui-timeline-title">过去</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div v-if="message_data.type != 'history'" class="layui-form-item layui-inline">
                                        <div class="layui-input-inline">
                                            <button @click="submit_message()" data-method="notice" class="layui-btn" type="button">立即发送</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div v-if="message_data.type != 'history'" class="layui-form-item layui-inline">
                <div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;">
                    <button data-method="notice" id="myButton" class="layui-btn" style="display: none"></button>
                </div>
            </div>

        </div>
    </div>


    <div class="layui-footer">
        <!-- 底部固定区域 -->
        Copyright © 2018 Meifan.All Rights Reserved.
    </div>
</div>

<!--图表-->
<!--<div id="container" style="height: 300px"></div>-->

<script>
    layui.use('element', function() {
        var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
    })
</script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            message_data: {
                type: "news",
                text: {
                    context: "",
                },
                news: {
                    articles: [{
                        title: "",
                        description: "",
                        url: "",
                        picurl: ""
                    }]
                },
                image:{
                    media_id: "",
                },
                json: "",
                resend_id: 0,
                message_id: 0,
                collection: [],
            },
            bind_img_key: 0,
        },
        computed: {
            date: function () {
                return this.message_data.json
            }
        },
        methods: {
            bind_img: function (key) {
                $(".upload_img").click();
                this.bind_img_key = key;
            },

            add_news: function () {
                this.message_data.news.articles.push({
                    title: "",
                    description: "",
                    url: "",
                    picurl: ""
                });
            },
            
            submit_message: function () {
                var index = layer.load(1, {
                    shade: [0.1, '#fff']
                });
                $.post("/sendtest", this.message_data, function (data) {
                    layer.close(index);
                    if(data.code == 0){
                        app.message_data.message_id = data.message_id;
                        $("#myButton").click();
                    } else {
                        layer.alert(data.info);
                    }
                }, "json");
            },

            get_history: function () {
                this.message_data.type = 'history';
                $.ajax({
                    url:"/history",
                    type:"get",
                    dataType: "json",
                    success:function (data) {
                        app.message_data.json = data;
                        //alert(data[0].text_plan.news.articles[0].picurl)
                    }
                });
            },

            get_collection: function () {
                var self = this;
                $.post("/collection", this.message_data, function (data) {
                    console.log(data);
                    self.message_data.collection = data.json;
                }, "json");
            },

            get_detail: function (message_id) {
                var self = this;
                window.location.href="/detail?message_id="+message_id;
            }

        },
        mounted: function () {
            var self = this;
            layui.upload.render({
                elem: '.upload_img',
                url: '/upload/picture',
                done: function(res){
                    self.message_data.news.articles[self.bind_img_key].picurl = res.url;
                },
                error: function(){

                }
            });
        }
    });

    layui.use('layer', function(){ //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

        //触发事件
        var active = {
            setTop: function(){
                var that = this;
                //多窗口模式，层叠置顶
                layer.open({
                    type: 2 //此处以iframe举例
                    ,title: '当你选择该窗体时，即会在最顶端'
                    ,area: ['390px', '260px']
                    ,shade: 0
                    ,maxmin: true
                    ,offset: [ //为了演示，随机坐标
                        Math.random()*($(window).height()-300)
                        ,Math.random()*($(window).width()-390)
                    ]
                    ,content: 'http://layer.layui.com/test/settop.html'
                    ,btn: ['继续弹出', '全部关闭'] //只是为了演示
                    ,yes: function(){
                        $(that).click();
                    }
                    ,btn2: function(){
                        layer.closeAll();
                    }

                    ,zIndex: layer.zIndex //重点1
                    ,success: function(layero){
                        layer.setTop(layero); //重点2
                    }
                });
            }
            ,notice: function(){
                //示范一个公告层
                layer.open({
                    type: 1
                    ,title: false //不显示标题栏
                    ,closeBtn: false
                    ,area: '300px;'
                    ,shade: 0.8
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btn: ['火速围观', '残忍拒绝']
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">发送成功！<br>是否浏览发送详情？<br>'
                    ,success: function(layero){
                        var btn = layero.find('.layui-layer-btn');
                        btn.find('.layui-layer-btn0').attr({
                            href: '/detail?message_id=' + app.message_data.message_id
                            ,target: '_blank'
                        });
                    }
                });
            }
        };

        $('#layerDemo .layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
</script>
<!--文件上传-->
<script>
    layui.use('upload', function(){
        var $ = layui.jquery
            , upload = layui.upload;

        upload.render({
            elem: '#test1'
            , url: '/upload/picture2'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img">')
                });
            }
            , done: function (res) {
                if (res.code == 1){
                    alert(res.info)
                }
                if (res.code == 0){
                    app.message_data.image.media_id = res.media_id
                }
            }
        });
    });
</script>
<script>

</script>
</body>
</html>